<h2>Créer un compte</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :name, "Nom" %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :email, "Courriel" %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password, "Mot de passe" %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, "Mot de passe (encore)" %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Devenir cool" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
