<% content_for :header do %>
  <div class="meta sans light">
    publié le <%= date_tag(@article.created_at) %>
    <% if @article.created_at != @article.updated_at %><br>modifié le <%= date_tag(@article.updated_at) %><% end %>
  </div>
  <h1><%= @article.display_title %></h1>
  <% if @article.subtitle? -%>
  <h2 class="sans"><%= @article.subtitle %></h2>
  <% end -%>
  <div class="author sans light">par <%= link_to(@article.user.name, user_url(@article.user)) %></div>
<% end %>

<article>
  <div class="body">
    <% unless @article.image.blank? -%>
    <div class="image">
      <%= image_tag(@article.image.main, alt: @article.display_title) %>
    </div>
    <% end -%>
    <%= sanitize @article.body %>
  </div>

  <%= link_to("Modifier cet article", edit_user_article_url(@article.user, @article)) if can? :update, @article %>

  <% if can? :create, Epithet -%>
  <%= render 'epithet_form' %>
  <% end %>

  <div class="bio lighter">
    <%= @article.user.bio unless @article.user.bio.blank? %>
    <% # link_to("Écrire une bio", edit_user_registration_url, :class => "hidden_nojs show_bio_form") %>
  </div>
</article>

<%= render 'comments' %>