<p class="light">Ça faut un compte pour écrire un article. <%= link_to "Inscrivez-vous", new_user_registration_path %>, c'est gratuit et c'est pas cher.</p>

<%= simple_form_for(:user, :url => user_session_path) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <div class="check_box">
    <%= f.check_box :remember_me %> <%= f.label :remember_me, "Se souvenir de moi" %>
  </div>
  <%= f.submit "Connectation" %>
  <p class="actions"><%= link_to "Bout d’viande, j'ai oublié mon mot de passe", new_user_password_path %></p>
<% end %>
