<section class="home clearfix">
  <div class="container_10">
    <header class="grid_8 prefix_2 title">
      <h1>Pochour.com</h1>
      <h2 class="sans"><%= @slogan %></h2>
    </header>
    
    <sidebar class="grid_2 push_8 sans">
    <% if user_signed_in? %>
      Salut <strong><%= current_user.name %></strong>.
      <nav>
        <ul>
          <li><%= link_to "Publier un nouvel article", new_article_path %></li>
          <li><%= link_to 'Déconnectation', destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>
    <% else %>
      <div class="note">
        Bientôt avec des affaires.
      </div>
      <% # render :partial => 'shared/login_form' %>
    <% end %>
    </sidebar>

    <%= render :partial => 'shared/articles_grid', :locals => { :articles => @articles, :show_author_names => true } %>
    
  </div>
</section>
