<!DOCTYPE html>
<html>
<head>
  <title>Pochour</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% unless user_signed_in? %>
  <%= link_to 'Créer un compte', new_user_registration_path %>
<% end %>

<%= yield %>

</body>
</html>
