<!DOCTYPE html>
<html lang="fr">
<head>
  <title><%= (@title + ' – ') unless @title.blank? %>Pochour</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-684138-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body class="<%= "#{controller_name} bg_#{[1,2].sample}" %>">

<%= link_to("accueil", root_path, :id => "home_link") unless controller_name == "home" %>

<% if content_for? :header -%>
<header class="title">
  <%= yield :header %>
</header>
<% end -%>

<section role="main" class="clearfix">
  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
  <%= yield  %>
</section>

<% if content_for? :complementary -%>
<section role="complementary" class="clearfix">
  <%= yield :complementary %>
</section>
<% end -%>

</body>
</html>
