<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Pochour</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= controller_name %>">

<header>
  <%= yield :header %>
</header>

<%= link_to "accueil", root_path, :id => "home_link" %>

<%= yield :before_content %>

<section>
  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
  <%= yield  %>
</section>

<%= yield :after_content %>

</body>
</html>
