<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Pochour</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= controller_name %>">

<%= link_to("accueil", root_path, :id => "home_link") unless controller_name == "home" %>

<div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div>

<%= yield :before_content %>

<%= yield  %>

<%= yield :after_content %>

</body>
</html>
